<app-hd titulo="Recepción de Compras " (clickPost)="salir()"></app-hd>

<ion-progress-bar *ngIf=" buscando " type="indeterminate"></ion-progress-bar>

<ion-content class="animated fadeIn">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Tire para refrescar" refreshingSpinner="circles" refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card class="welcome-card">
        <img src="assets/imgs/oc_top_02.png" alt="x1">
    </ion-card>

    <ion-grid>
        <ion-row>
            <ion-col size="12" size-xl="3" size-lg="4" size-md="6" size-sm="6" size-xs="12" *ngFor="let orden of ordenes; let i = index;">
                <ion-card>
                    <ion-item>
                        <h3>
                            <ion-label>OC: <b>{{ orden.numero }}</b></ion-label>
                        </h3>
                        <ion-button fill="solid" slot="end" color="warning" (click)="verDetalle( orden )">Ver</ion-button>
                    </ion-item>
                    <ion-card-header>
                        <ion-card-subtitle>
                            Fecha : <b>{{ orden.fecha | date }}</b>
                        </ion-card-subtitle>
                        <ion-card-subtitle>
                            Proveedor : <b>{{ orden.razonsocial }}</b>
                        </ion-card-subtitle>
                        <ion-card-subtitle>
                            Obs. : <b>{{ orden.obs }}</b>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button (click)="recibirOC( orden )" fill="solid" expand="block">
                            Recibir la compra
                        </ion-button>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>