<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="onClick()">
                <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ titulo }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addClick()" *ngIf=" addPost.observers.length>0 ">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteClick()" *ngIf=" deletePost.observers.length>0 ">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="printClick()" *ngIf=" printPost.observers.length>0 ">
                <ion-icon slot="icon-only" name="print-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>