.backdrop {
    width: 100%;
    height: 100%;
    background: #00000094;
    z-index: 10;
    position: absolute;
}

.fade {
    transition: 0.5s linear all;
    opacity: 0;
    z-index: -1;
}

.fade-in {
    transition: 0.5s linear all;
    opacity: 1;
}

.welcome-card {
    display: block;
    width: 100%;
}

.normal {
    font-size: medium;
}

.cajita {
    --ion-background-color: #afca0a;
}

ion-segment-button {
    --background-checked: var(--ion-color-success);
    --color-checked: var(--ion-color-success-contrast);
}