<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="uno"></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="margin-left: 15px; margin-right: 15px;">

    <img src="assets/imgs/logo-001.png" alt="RTS" class="logo-001">

    <p style="margin-left: 35px; margin-right: 35px;margin-top: 70px; margin-bottom:60px; text-align: justify;"><b>
      Sistema móvil de recolección de datos en planta productiva. 
      Actualización en línea. 
      Conexión automática al ERP Softland. 
      Pulse sobre icono (<ion-icon name="menu-outline" color="primary"></ion-icon>) de la parte superior izquierda y un menú de opciones aparecerá para ud.</b>
    </p>

    <img src="assets/imgs/logo-kinetik.png" alt="kinetik" class="logo-kinetik">

</ion-content>