// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@font-face {
    font-family: "OpenSans";
    src: url('../assets/fonts/OpenSans.woff2');
}


/** Ionic CSS Variables **/

:root {
    --ion-font-family: 'OpenSans';
    --ion-color-primary: #2B482C;
    --ion-color-primary-rgb: 43, 72, 44;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #263f27;
    --ion-color-primary-tint: #405a41;
    --ion-color-secondary: #6d9773;
    --ion-color-secondary-rgb: 109, 151, 115;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #608565;
    --ion-color-secondary-tint: #7ca181;
    --ion-color-tertiary: #b46617;
    --ion-color-tertiary-rgb: 180, 102, 23;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #9e5a14;
    --ion-color-tertiary-tint: #bc752e;
    --ion-color-success: #ffba00;
    --ion-color-success-rgb: 255, 186, 0;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #e0a400;
    --ion-color-success-tint: #ffc11a;
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    --ion-color-danger: #8bc34a;
    --ion-color-danger-rgb: 139, 195, 74;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #7aac41;
    --ion-color-danger-tint: #97c95c;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}