<ion-app>

    <ion-menu side="start" menuId="uno" contentId="principal">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title class="ion-text-left">Menú RTS</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list mode="ios">
                <ion-menu-toggle>
                    <!--  -->
                    <ion-list-header style="margin-top: 10px;">
                        <ion-label>Operaciones</ion-label>
                    </ion-list-header>
                    <ion-item routerLink="/defof" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="settings-outline" slot="start"></ion-icon>
                        <ion-label>Orden de Fabricación</ion-label>
                    </ion-item>
                    <ion-item routerLink="/tml" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="thunderstorm-outline" slot="start"></ion-icon>
                        <ion-label>TML por máquina</ion-label>
                    </ion-item>
                    <!--  -->
                    <ion-list-header style="margin-top: 10px;">
                        <ion-label>Reportes</ion-label>
                    </ion-list-header>
                    <ion-item routerLink="/prodterm" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="pizza-outline" slot="start"></ion-icon>
                        <ion-label>Productos terminados</ion-label>
                    </ion-item>
                    <!--  -->
                    <ion-item routerLink="/rep" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="bulb-outline" slot="start"></ion-icon>
                        <ion-label>Orden de Fabricación</ion-label>
                    </ion-item>
                    <ion-item routerLink="/rep" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
                        <ion-label>Avance por máquina</ion-label>
                    </ion-item>
                    <!--  -->
                    <ion-list-header style="margin-top: 10px;">
                        <ion-label>Definiciones</ion-label>
                    </ion-list-header>
                    <ion-item routerLink="/defoperarios" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="body-outline" slot="start"></ion-icon>
                        <ion-label>Operarios</ion-label>
                    </ion-item>
                    <ion-item routerLink="/defmaquinas" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="construct-outline" slot="start"></ion-icon>
                        <ion-label>Máquinas</ion-label>
                    </ion-item>
                    <ion-item routerLink="/defoperaciones" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="layers-outline" slot="start"></ion-icon>
                        <ion-label>Operaciones</ion-label>
                    </ion-item>
                    <ion-item routerLink="/defestatus" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="bug-outline" slot="start"></ion-icon>
                        <ion-label>Estatus</ion-label>
                    </ion-item>
                    <!--  -->
                    <ion-list-header style="margin-top: 10px;">
                        <ion-label>Configuración</ion-label>
                    </ion-list-header>
                    <ion-item routerLink="/usuarios" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="person-outline" slot="start"></ion-icon>
                        <ion-label>Usuarios</ion-label>
                    </ion-item>
                    <!--  -->
                    <ion-list-header style="margin-top: 10px;">
                        <ion-label>Salir</ion-label>
                    </ion-list-header>
                    <ion-item (click)="logout()" routerDirection="root" routerLinkActive="active" [disabled]=" !datos.logeado ">
                        <ion-icon name="exit-outline" slot="start"></ion-icon>
                        <ion-label>Salir del Sistema</ion-label>
                    </ion-item>
                    <!--  -->
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="principal"></ion-router-outlet>

</ion-app>