.turno {
    margin-left: 0px;
    padding-left: 0px;
    min-width: 175px;
    text-align: right;
}

.operador {
    margin-left: 0px;
    padding-left: 0px;
    min-width: 175px;
    text-align: right;
}

.ayudante {
    margin-left: 0px;
    padding-left: 0px;
    min-width: 175px;
    text-align: right;
}

.mecanico {
    margin-left: 0px;
    padding-left: 0px;
    min-width: 175px;
    text-align: right;
}

.maquina {
    margin-left: 0px;
    padding-left: 0px;
    min-width: 175px;
    text-align: right;
}